<div class="alert alert-info" role="alert">
   Liste des Messages Envoyés
  </div>
  <table class="table table-striped">
            
    <thead>
      <tr>
    
        <th scope="col">De</th>
        <th scope="col">Sujet</th>
        <th scope="col">Message</th>
      </tr>
    </thead>
    <tbody>
      <tr>
 
        <td>Ali ben salah</td>
        <td>Salm</td>
        <td>Bonjour cher ami</td>
        <td><button class="btn btn-danger">Supprimer</button></td>
      </tr>
      <tr>
   
        <td>Ali ben salah</td>
        <td>Salut</td>
        <td>merci pour votre aide</td>
        <td><button class="btn btn-danger">Supprimer</button></td>
      </tr>
      <tr>
     
        <td>Ali ben salah</td>
        <td>test4</td>
        <td>Test Messsage66</td>
        <td><button class="btn btn-danger">Supprimer</button></td>
      </tr>
      
    </tbody>
  </table>
  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>